<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/frontend-css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <style>
        label.error {
            color: red;
        }
    </style>
</head>

<body>
    <!-- START: header -->
    <header role="banner" class="probootstrap-header">
        <!-- <div class="container"> -->
        <div class="row">
            <a href="index.html" class="probootstrap-logo visible-xs"><img src="/Content/FrontImages/logo.png" class="hires" width="120" height="auto" alt="Free Bootstrap Template by uicookies.com"></a>

            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>
            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">Apartments & Suites</a></li>
                    <li><a href="rooms.html">Quartos</a></li>
                    <li class="hidden-xs probootstrap-logo-center"><a href="index.html"><img src="/Content/FrontImages/logo.png" class="hires" width="181" height="auto" alt="Villa Mouzinho"></a></li>
                    <li><a href="reservation.html">Rent a E-Bike</a></li>
                    <li><a href="contact.html">Contactos</a></li>
                </ul>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                    <h5>Connect With Us</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- </div> -->
    </header>
    <!-- END: header -->
   

    @RenderBody()


    <!-- START: footer -->
    <footer role="contentinfo" class="probootstrap-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <p class="mt40"><img src="/Content/FrontImages/logo.png" class="hires" width="120" height="auto" alt="Free HTML5 Bootstrap Template by uicookies.com"></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Blog</h3>
                        <ul class="probootstrap-blog-list">
                            <li>
                                <a href="#">
                                    <figure class="probootstrap-image"><img src="/Content/FrontImages/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                    <div class="probootstrap-text">
                                        <h4>River named Duden flows</h4>
                                        <span class="meta">August 2, 2017</span>
                                        <p>A small river named Duden flows by their place</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure class="probootstrap-image"><img src="/Content/FrontImages/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                    <div class="probootstrap-text">
                                        <h4>River named Duden flows</h4>
                                        <span class="meta">August 2, 2017</span>
                                        <p>A small river named Duden flows by their place</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure class="probootstrap-image"><img src="/Content/FrontImages/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                    <div class="probootstrap-text">
                                        <h4>River named Duden flows</h4>
                                        <span class="meta">August 2, 2017</span>
                                        <p>A small river named Duden flows by their place</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="probootstrap-footer-widget">
                        <h3>Contactos</h3>
                        <ul class="probootstrap-contact-info">
                            <li><i class="icon-location2"></i> <span>Rua de Mouzinho da Silveira, União de Freguesias do Centro 4050-417 – Porto</span></li>
                            <li><i class="icon-location22"></i> <span>GPS 41.143653, -8.612853</span></li>
                            <li><i class="icon-mail"></i><span>geral@villamouzinho.com</span></li>
                            <li><i class="icon-phone2"></i><span>+351 968 762 843</span></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row mt40">
                <div class="col-md-12 text-center">
                    <ul class="probootstrap-footer-social">
                        <li><a href="https://www.facebook.com/vilamouzinho/"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/villamouzinho/"><i class="icon-instagram2"></i></a></li>
                    </ul>
                    <p>
                        <small>&copy; @DateTime.Now.Year <a href="/" target="_blank">Villa Mouzinho - Apartments & Suites</a> <br> Desenvolvido por <a href="#" target="_blank">M&A</small>
                    </p>

                </div>
            </div>
        </div>
    </footer>

    <!-- page container area end -->
    @Scripts.Render("~/Scripts/frontend-js")
    @RenderSection("scripts", required: false)

    </body>
</html>
