<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Authentication</title>
    @Styles.Render("~/Content/backoffice-css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Backoffice/vendor/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/backoffice-js")
    @RenderSection("scripts", required: false)
</body>
</html>